h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #f5f2fe;
    margin-top: 60px;
    font-family: 'Roboto', sans-serif;
  }
  
  #calculator {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #6c63ff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  #display {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    color: white;
    background-color: black;
    text-align: right;
  }
  
  button {
    width: 70px;
    height: 50px;
    margin: 5px;
    padding: 0;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #6c63ff;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease-in;
  }
  
  .operator {
    background-color: #f5f2fe;
    color: #6c63ff;
  }
  
  .equal {
    background-color: #6c63ff;
    color: white;
    border: 2px solid white;
  }
  
  button:hover {
    background-color: #6c63ff;
    color: white;
  }
  
  button:active {
    transform: scale(1.05);
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2),
    0 1.5px 1.5px rgba(0, 0, 0, 0.23);
  }